.box {
  position:relative;
  overflow:hidden;
  box-shadow:0 0 5px #555;
}

.box img {
  width:100%;
  height:auto;
}

.box .box-heading {
  width:90%;
  position:absolute;
  bottom:25px;
  left:5%;
  background:rgba(80, 230, 0,0.8);
  padding:10px 60px 10px 25px;
  color:#fff;
  transition:all 0.3s ease 0s;
}

.box:hover .box-heading {
  left:100%;
}

.box .box-heading:after {
  content:"\f105";
  font-family:fontawesome;
  width:40px;
  height:40px;
  line-height:40px;
  position:absolute;
  top:13px;
  right:11px;
  background:#333;
  font-size:30px;
  color:#fff;
  text-align:center;
}

.box .title {
  margin:0;
  font-size:18px;
  font-weight:bold;
}

.box .post {
  display:block;
  font-size:14px;
  color:#fff;
  text-transform:capitalize;
  margin-top:5px;
}

.box .boxContent {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  padding-top:50%;
  /*transform:translateY(-50%);*/
  background:rgba(215,215,215,.5);
  transition:opacity 0.3s ease 0s;
  opacity:0;
}

.box:hover .boxContent {
  opacity:1;
}

.box .description {
  font-family:"Modesto Condensed";
  font-size:24px;
  color:#fff;
  line-height:25px;
  transform:translateY(-50%);
  letter-spacing:7px;
}

.box .read {
  display:inline-block;
  padding:10px 20px;
  background:#333;
  font-size:14px;
  font-weight:700;
  color:#fff;
  margin-top:20px;
  transition:all 0.3s ease 0s;
}

.box .read:hover {
  text-decoration:none;
  background:#333;
  color:#50E600;
}

.box .read i {
  font-size:20px;
  font-weight:700;
  margin-left:10px;
}

@media only screen and (max-width: 990px) {
  .box {
    margin-bottom:20px;
  }
}

@media only screen and (max-width: 479px) {
  .box .boxContent {
    padding-top:50%;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
  }
}

@media only screen and (max-width: 479px) {
  .box .read {
    margin-top:10px;
  }
}

.container-fluid.custom-container {
  padding-left:20px;
  padding-right:45px;
}

.story-paragraph {
  position:absolute;
  top:calc(35% + 85px);
  left:70%;
  color:white;
  transform:translate(-50%,-50%);
  text-shadow:0px 0px black;
  font-family:'BasicGothicPro';
  font-size:15px;
  font-weight:300;
  text-align:center;
}

.story-button {
  position:absolute;
  top:calc(35% + 155px);
  left:70%;
  color:white !important;
  transform:translate(-50%,-50%);
  text-shadow:0px 0px black;
  font-family:'BasicGothicPro';
  font-size:15px;
  font-weight:300;
  text-align:center;
  text-decoration:none !important;
}

.shop-description {
  text-shadow:0px 0px black;
  text-align:center;
  font-family:"Modesto Condensed";
  letter-spacing:1px;
  font-size:26px;
  background-color:rgba(255,120,0,0.45);
  background-position-x:0%;
  background-position-y:0%;
  background-repeat:repeat;
  background-attachment:scroll;
  background-image:linear-gradient(rgba(186, 171, 143, 0.8), rgba(186, 171, 143, 0.8));
  background-size:auto;
  background-origin:padding-box;
  background-clip:border-box;
  padding-bottom:18px;
  padding-top:20px;
}

.btn-fix {
  font-family:"BasicGothicPro";
  font-size:13px;
  letter-spacing:0px;
  font-weight:300;
}

.custom-btn-intro:hover {
  color:#B38D46 !important;
}

.div-767-h {
  font-family:"Modesto Condensed";
  letter-spacing:3px;
  font-size:38px;
  text-align:center;
  line-height:58px;
}

