#box-1 {
  height:100vh;
  width:100%;
  background-image:url(../../assets/img/i1.jpg);
  background-size:cover;
  display:table;
  background-attachment:fixed;
}

#box-2-recipes {
  height:100vh;
  width:100%;
  background-image:url(../../assets/img/recepies_bgnd.jpg);
  background-size:cover;
  display:table;
  background-attachment:fixed;
}

#box-3 {
  height:100vh;
  width:100%;
  background-image:url(../../assets/img/i3.jpg);
  background-size:cover;
  display:table;
  background-attachment:fixed;
}

.recepies {
  font-family:"Modesto Condensed";
  font-size:58px;
  color:white;
  margin:0px;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  line-height:58px;
  letter-spacing:7px;
}

#box-2 {
  height:100vh;
  width:100%;
  background-image:url(../../assets/img/shop_mantia.jpg);
  background-size:cover;
  display:table;
  background-attachment:fixed;
}

