.nav.navbar-nav.custom-font-menu {
  font-family:'BasicGothicPro';
  font-weight:600;
  font-size:12px;
  letter-spacing:3px;
  margin:0.5rem -3px 0.5rem 0;
}

@font-face {
  font-family:'BasicGothicPro';
  src:url();
}

