@font-family {
  font-family:"ff-basic-gothic-pro";
  src:url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/81d167/00000000000000003b9b04d7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family: 'BasicGothicPro';
  src: url(../fonts/BasicGothicPro.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'BasicGothicPro';
  src: url(../fonts/BasicGothicPro-Demibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Modesto Condensed';
  src: url(../fonts/ModestoCondensed-Bold.ttf);
  font-weight: 800;
}

.custom-link-menu:hover {
  border-bottom:1px solid #B38D46;
}

.custom-link-menu {
  padding-left:3px !important;
  padding-right:0px !important;
  border-bottom:1px solid transparent;
  transition:border-bottom 0.2s ease-in-out;
}

.nav-item {
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
}

.custom-bottle-img {
  width:100%;
  height:auto;
}

.custom-whiskey-header {
  font-family:"Modesto Condensed";
  text-align:center;
  font-size:48px;
  line-height:58px;
  color:#0c0c0c;
  letter-spacing:7px;
}

.section_one {
  background-color:#F7F6F1;
}

.custom-description-bottle {
  font-family:'BasicGothicPro';
  font-weight:300;
  font-size:15px;
  line-height:26px;
  color:#0c0c0c;
  text-shadow:0px 0.4px #0c0c0c;
  padding-left:70px;
  padding-right:70px;
}

.container-fluid {
  width:100%;
  padding-right:10%;
  padding-left:10%;
  margin-right:auto;
  margin-left:auto;
}

.section-two-background {
  width:100%;
  height:auto;
}

.social-share {
  font-size:18px;
  display:inline;
  margin-right:30px;
  color:black;
  transition:color 0.25s;
}

.social-share:hover {
  color:#B38D46 !important;
  cursor:pointer;
}

.box {
  position:relative;
  text-align:center;
  color:#fff;
}

.box-img:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow:0 0 0 7px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  transition:all 0.3s ease-in-out 0s;
}

.box-img img {
  width:100%;
  height:auto;
}

.content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0 30px;
  background:rgba(160, 97, 186, 0.9);
  box-shadow:0 0 0 5px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  opacity:0;
  transition:all 0.8s ease-in-out 0s;
}

.content > .title {
  font-size:22px;
  text-transform:uppercase;
  margin-top:50px;
  padding-bottom:15px;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.content > .description {
  font-size:13px;
}

.box:hover .content {
  opacity:1;
}

@media only screen and (max-width: 990px) {
  .box {
    margin-bottom:20px;
  }
}

.section-recepies {
  background-color:#F7F6F1;
  padding-top:100px;
  padding-bottom:150px;
}

.logo-footer {
  width:300px;
  height:100px;
}

.site-footer {
  background-color:#F7F6F1;
}

.row.row-separator {
  border-top:1px solid rgba(12,12,12,0.1);
  padding-top:50px;
}

.footer-image {
  width:128px;
  height:128px;
}

.footer-social-share {
  padding-right:25px;
  font-size:24px;
  display:inline;
}

p {
  text-shadow:1px 1px black;
}

.col-sm-6.col-md-4 {
  padding-top:30px;
}

.footer-li {
  list-style-type:none;
  text-align:center;
  font-size:12px;
  margin:0.5rem -3px 0.5rem 0;
  padding:0;
  font-family:'BasicGothicPro';
  color:rgba(0,0,0,.7);
  font-weight:600;
  letter-spacing:3px;
  padding-top:65px;
}

.footer-paragraph {
  margin-bottom:0px !important;
  text-align:center;
  font-family:'BasicGothicPro';
}

.footer-li-el {
  padding-top:10px;
}

.footer-page {
  background-color:#F7F6F1;
}

.footer-logo {
  width:160px;
  height:160px;
  position:absolute;
  left:50%;
  transform:translate(-50%,-42%);
}

.footer-subscribe {
  font-family:"Modesto Condensed";
  letter-spacing:3px;
  text-align:center;
}

.subscribe-input {
  background-color:transparent;
  border:none;
  padding:10px 30px 10px 30px;
  font-family:'BasicGothicPro';
  width:calc(100% - 45px);
}

.subscribe-font:focus {
  outline-width:0 !important;
  outline:none !important;
}

.subscribe-input:focus {
  border:none;
  outline:none !important;
}

.subscribe-link:hover {
  text-decoration:none;
  color:rgba(0,0,0,.9);
}

.subscribe-link {
  font-size:12px;
  font-family:'BasicGothicPro';
  font-weight:600;
  letter-spacing:2px;
  color:rgba(0,0,0,.7);
}

.footer-copyright {
  text-align:center;
  font-size:12px;
  color:rgba(0,0,0,0.1);
  text-shadow:0px 0px black;
  margin:20px !important;
  font-family:'BasicGothicPro';
  letter-spacing:1px;
  font-weight:600;
}

.footer-li-el:hover {
  color:rgba(0,0,0,1);
  cursor:pointer;
}

.footer-line {
  border-bottom:1px solid #B38D46;
}

@media (max-width: 991px) {
  .footer-li {
    padding-top:0px;
    margin-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
  }
}

@media (max-width: 991px) {
  .footer-copyright {
    margin-top:60px !important;
    font-size:10px;
  }
}

#nav-logo-black {
  content:url(../../assets/img/logo-xl.png) !important;
}

#nav-logo-white {
  content:url(../../assets/img/logo-xl-white.png) !important;
}

@media (max-width: 1200px) {
  #nav-logo-black {
    content:url(../../assets/img/logo-md.png) !important;
  }
}

@media (max-width: 1200px) {
  #nav-logo-white {
    content:url(../../assets/img/logo-md-white.png) !important;
  }
}

@media (max-width: 767px) {
  #nav-logo-black {
    content:url(../../assets/img/logo-notext.png) !important;
    width:68px !important;
    height:68px;
    margin-left:50px;
    margin-bottom:10px;
  }
}

@media (max-width: 767px) {
  #nav-logo-white {
    content:url(../../assets/img/logo-notext-white.png) !important;
    width:68px !important;
    height:68px;
    margin-left:40px;
    margin-bottom:10px;
  }
}

.span-menu-logo {
  position:absolute;
  top:10px;
  left:40px;
}

@media (max-width: 1200px) {
  .span-menu-logo {
    left:0px;
  }
}

.menu-share {
  position:absolute;
  left:100%;
  transform:translateX(-70%);
  z-index:1000;
}

@media (max-width: 991px) {
  .menu-share {
    position:absolute;
    left:100%;
    transform:translateX(-60%);
    z-index:1000;
  }
}

@media (max-width: 767px) {
  .menu-share {
    position:relative;
    left:103px;
  }
}

@media (max-width: 991px) {
  .social-share {
    margin-right:20px;
  }
}

.story-heading {
  position:absolute;
  top:30%;
  left:70%;
  color:white;
  transform:translate(-50%,-50%);
  text-shadow:2px 2px black;
  font-family:"Modesto Condensed";
  letter-spacing:3px;
  font-size:48px;
}

.custtom-btn-whiskey {
  background:rgba(0,0,0,0.745);
  border:3px solid #c1a988;
  padding:12px 25px;
  margin:40px 0px 40px 0px;
  margin-top:40px;
  display:inline-block;
  text-decoration:none;
  position:relative;
  z-index:2;
  font-weight:bold;
  overflow:hidden;
  color:#c1a988;
  text-transform:uppercase;
  font-size:16px;
  -webkit-transition:color .25s ease-in-out, border .25s ease-in-out;
  -moz-transition:color .25s ease-in-out, border .25s ease-in-out;
  -ms-transition:color .25s ease-in-out, border .25s ease-in-out;
  -o-transition:color .25s ease-in-out, border .25s ease-in-out;
  transition:color .25s ease-in-out, border .25s ease-in-out;
  font-family:"Modesto Condensed";
}

.custtom-btn-whiskey::before {
  content:"";
  position:absolute;
  background-color:#c1a988;
  left:0;
  top:0;
  bottom:0;
  z-index:-1;
  -webkit-transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -o-transition:right .15s ease-in-out;
  -ms-transition:all .15s ease-in-out;
  transition:all .15s ease-in-out;
  width:0%;
}

.custtom-btn-whiskey:hover::before {
  width:100% !important;
}

.custtom-btn-whiskey:hover {
  color:black !important;
  border:1px solid #c1a988;
}

.custom-tag {
  background:url(../../assets/img/tag.png);
  position:relative;
}

@media (max-width: 991px) {
  .custom-whiskey-col {
    padding-top:20px;
  }
}

.custom-btn-intro {
  border:1px solid #B38D46;
  color:black;
  padding:10px 60px 10px 60px;
  font-family:'BasicGothicPro';
  letter-spacing:0px;
  font-size:14px;
  font-weight:300;
  transition:all .25s ease-in-out;
}

.custom-btn-intro.custom-btn-mantiastory {
}

@media (max-width: 1199px) {
  .story-paragraph {
    top:calc(35% + 95px);
    font-size:14px;
    padding-left:20px;
    padding-right:20px;
  }
}

@media (max-width: 767px) {
  .div-fix {
    display:none;
  }
}

.div-767-p {
  text-shadow:0px 0px black;
  font-family:'BasicGothicPro';
  font-size:14px;
  font-weight:300;
  text-align:center;
  padding-top:10px;
  line-height:26px;
  margin-bottom:85px;
}

.container.div-767-continer {
  display:none;
}

@media (max-width: 767px) {
  .container.div-767-continer {
    display:block;
  }
}

@media (max-width: 1500px) {
  .custom-description-bottle {
    padding-left:0px;
    padding-right:0px;
    font-size:14px;
  }
}

@media (max-width: 1199px) {
  .custom-whiskey-header {
    font-size:38px;
  }
}

@media (max-width: 767px) {
  .custom-bottle-img {
    padding-top:0px;
    margin-left:12px;
  }
}

@media (max-width: 991px) {
  .custom-whiskey-header {
    padding-top:60px;
  }
}

